@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-family: "Space Mono", monospace;
}

td {
  white-space: normal !important;
  word-wrap: break-word;
}

/* Custom Class */
.del {
  text-decoration: line-through;
}

.form-responsive {
  max-width: 350px;
  margin: auto;
}

@media (max-width: 576px) {
  .form-responsive {
    max-width: 95%;
  }
}

/* End Custom Class */

/* ScrollBar */

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #f4f5f7;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #2b2e34;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* End ScrollBar */
